<!DOCTYPE html>
<html>
<head>
    <title>Football Results</title>
</head>
<body>
    <h1>Football results</h1>
    <table>
        <thead>
            <tr>
                <th>Home Team</th>
                <th>Away Team</th>
                <th>Date</th>
                <th>Status</th>
                <th>Home Team Score</th>
                <th>Away Team Score</th>
                <th>Winner</th>
            </tr>
        </thead>
        <tbody>
            {% for match in page_matches %}
            <tr>
                <td>{{ match.homeTeam.name }}</td>
                <td>{{ match.awayTeam.name }}</td>
                <td>{{ match.utcDate }}</td>
                <td>{{ match.status }}</td>
                <td>{{ match.score.fullTime.home }}</td>
                <td>{{ match.score.fullTime.away }}</td>
                <td>{{ match.score.winner }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if page_matches.has_other_pages %}
    <div class="pagination">
        <span class="step-links">
            {% if page_matches.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_matches.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_matches.number }} of {{ page_matches.paginator.num_pages }}.
            </span>

            {% if page_matches.has_next %}
                <a href="?page={{ page_matches.next_page_number }}">next</a>
                <a href="?page={{ page_matches.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% endif %}
</body>
</html>
