<!DOCTYPE html>
<html>
<head>
    <title>Football Results</title>
</head>
<body>
    <h1>Football results</h1>
    <table>
        <thead>
            <tr>
                <th>Home Team</th>
                <th>Away Team</th>
                <th>Date</th>
                <th>Status</th>
                <th>Home Team Score</th>
                <th>Away Team Score</th>
            </tr>
        </thead>
        <tbody>
            {% for match in matches %}
            <tr>
                <td>{{ match.home_team.name }}</td>
                <td>{{ match.away_team.name }}</td>
                <td>{{ match.utc_date }}</td>
                <td>{{ match.status }}</td>
                <td>{{ match.home_team_score }}</td>
                <td>{{ match.away_team_score }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
